$font-all:'futura-light', sans-serif;
$font-bold:'futura-bold', sans-serif;
$font-book:'futura-book', sans-serif;
$color-sl-b:#dc3634;
$color-text-all:#7b7b7b;
$color-heading:#545454;
$color-bgr-border:#f4f4f4;
$color-black:#000;
$bgr-ft:#f7f7f7; 
$color-bgr-order:#ea3f34;
$color-add-cart:#ebb613;
@font-face {
    font-family: 'futura-bold';
    src: url('../css/fonts/SVNFuturaDemiBold.woff')format('woff');
}
@font-face {
    font-family: 'futura-book';
    src: url('../css/fonts/SVNFuturaBook.woff')format('woff');
}
@font-face {
    font-family: 'futura-light';
    src: url('../css/fonts/SVNFuturaLight.woff')format('woff');
}
