body.bgr-op{
	width: 100%;
	float: left;
	position: relative;
	min-height: 100vh;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}

}
body { 
	// background: #fff; 
	color: $color-text-all; 
	font-family: $font-all;
	margin:0;
	padding: 0;
	.Wrapper {
	    max-width: 768px;
	    margin: 0 auto;
	} 
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6,
	p{
    	margin-bottom: 0;
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
		width: 100%;
	}
	button,input,select,textarea{
		&:focus{
			outline: 0;
		}
	}
	a{	
		color: unset;
		text-decoration: none;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color: unset;
			outline: 0;

		}
	}

	.fixed{
		position: fixed!important;
		z-index: 9999;
		background: #fff;
		top: 0;
		width: 100%;
		left: 0;

	}

	.bgr-f7{
		background: $bgr-ft;
	}
	.content-main{
		padding-bottom: 50px;
		width: 100%;
		float: left;
	}
	.headding-h{
		display: none;
	}

	.back-to-top {
		position: fixed;
		bottom: -50px;
		right: -50px;
		transition: all .5s ease-out;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		width: 40px;height: 40px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px !important;
		-moz-background-clip: padding;
		background-color: $color-sl-b;
		line-height: 45px;
		text-align: center;
		color: #fff;
		display: inline;
		z-index: 999999;
		cursor: pointer;
		a{
			display: block;
			color:#fff

		}
		&:hover{
			background: $color-sl-b;
			color: #fff;
		}
		&:hover,&:focus{
			a{
				color: #fff;
			}
		}
		&.display{
			bottom:50px;
			right: 10px;
		}
		&.fa{
			margin-bottom: 0;
		}
	}
	.clickall{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:10;
	}
	

	header{
		>.container-fluid{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.slogan{
				h2{
					color: $color-sl-b;	
					text-transform: uppercase;
					font-weight: 600;
					font-size: 16px;
					padding: 8px 0;
					font-family: $font-bold;
					span{
						display: block;
					}
				}
				
			}
			.box-search{
				width: 100%;
				position: relative;
			    box-shadow:1px 2px 5px #00000010;
			    border-radius: 10px;
			    margin-bottom: 10px;

				input{
					width: 100%;
					height: 35px;
					padding: 0 50px 0 15px;
					border: none;
					border-radius: 10px;
					color: #5f5f5f;
					font-size: 12px;
					font-family: $font-book;
					font-weight: 600;

				}
				button{
					position: absolute;
					right: 0;
					top: 0;
					background: #fff;
					border:none;
					border-radius: 10px;
					height: 35px;
					width: 50px;
					text-align: center;
					line-height: 35px;
					color: $color-heading;
				}
			}
		
		}
		.pd-r{
			flex-direction: row-reverse;

			.box-search{
				width: calc(100% - 30px)!important;
				margin-top: 10px;
			}
			.btn-toggle-menu{
				margin-top: 5px;
			}

		}
	}
	.header-tab2{
		border-bottom: 1px solid #dedede;
		>.container-fluid{
			width: 100%;
			padding-top: 7px;
			padding-bottom: 7px;

			.heading-header{
				font-size: 14px;
				text-transform: uppercase;
				color: $color-sl-b;
				font-family: $font-book;
				font-weight: 600;
			}
			


		}
	}
	section{
		padding: 20px 0;
		width: 100%;
		float: left;
		clear: both;
	}
	section.box-slide-img{
		.slide-img-top{
			.item-img-sl{
				position: relative;

			}
			.slick-slide {
			    margin: 5px;
			    img{
			    	border-radius: 10px;

			    }
			}
			.box-img-sl{
				@include img-prod-resp(65%);
			}

		}
	}
	section.box-list-prod{
		.tab{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			font-size: 13px;
			font-family: $font-book;
			margin-bottom: 15px;

			
			button{
				flex: 1;
				padding: 5px;
				border: none;
				color: #5f5f5f;
				// width: calc(100% / 3);
				background: none;
				border-bottom: 2px solid #d9d9d9;
				font-weight: 600;

			}
			.spbc{
				flex:1.1;
			}
			.active{
				border-bottom: 2px solid $color-sl-b;
				color: $color-sl-b;
			}
		}
		.tabcontent{
			display: none;
		}
	}
	.list-prod{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background: $color-bgr-border;
		.item-prod{
			width: calc(50% - 1px);
			background: #fff;
			margin-bottom: 2px;
			position: relative;
			.box-img-prod{
				margin-bottom: 5px;
				@include img-prod-resp(75%);
				img{
					width: 100%;
				}
			}
			.box-info-prod{
				padding: 10px;
				.name-sp {
				    font-size: 9pt;
				    text-transform: uppercase;
				    font-weight: 600;
				    color: $color-black;
				    min-height: 29px;
				    @include text-hidden(2);
				    font-family: $font-bold;
				}
				.code-prod{
					font-size: 12px;
					font-weight: 600;
				}
				.price-prod{
					display: flex;
					flex-wrap: wrap;
					align-items: baseline;
					.price-sale{
						color: $color-sl-b;
						font-size: 10pt;
						margin-right: 10px;
						font-family: $font-bold;
					}
					.price-o{
						font-family: $font-bold;
						font-size: 8pt;
						color: $color-black;
						text-decoration: line-through;
					}
				}
			}
		} 
	}
	section.detail-prod{
		position: relative;
		padding-top: 0;
		.btn-back-{
			position: absolute;
			left: 10px;
			top: 10px;
			height: 25px;
			line-height: 25px;
			width: 25px;
			text-align: center;
			background: $color-heading;
			z-index: 999;
			color: #fff;
			border-radius: 50%;
			opacity: 0.8;
			font-size: 10px;
		}	
		.box-slide-img-prod{
			position: relative;
			margin-bottom: 15px;
			.box-img-sl{
				@include img-prod-resp(75%);
			}
		}
		.box-detail-main-prod{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.name-prod{
				font-size: 16px;
				font-family: $font-book;
				margin-bottom: 15px;
				color: $color-heading;
				width: 100%;
				font-weight: 600;
			}
			.box-detail-c{
				font-family: $font-book;
				p{
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 5px;
					font-family: $font-book;
				}
				.sl-prod{
					font-weight: 600;
					display: flex;
					align-items: center;
					button{
						width: 20px;
					    height: 20px;
					    border-radius: 50%;
					    border: none;
					    line-height: 0px;
					    text-align: center;
					    margin:0 10px;
					    font-weight: 600;
					}
					#numb-prod{
						font-family: $font-bold;
						font-size: 15px;
					}
				}
			}
			.box-price{
				.price-sale{
					font-size: 18px;
					color: $color-sl-b;
					font-family: $font-bold;
				}
				.price-o{
					font-size: 14px;
					text-decoration:line-through;
					color: #000;
					font-weight: 600;
				}
			}
			.box-information-prod{
				width: 100%;
				border-top: 1px solid $color-bgr-border;
				padding-top: 10px;
				margin-top: 15px;
				margin-bottom: 50px;

				h3{
					font-size: 14px;
					font-family: $font-book;
					color:$color-heading;
					margin-bottom: 10px;
					font-weight: 600;
				}
				.content-infor-prod{
					font-size:13px;
					font-weight: 600;
				}
			}
		}

	}
	section.list-prod-other{
		h3{
			@include heading(14px);
			font-weight: 600;
		}
		.list-other-prod{
			.item-prod{
				margin:1px;
			}
		}
	}
	
	section.all-pay{
		min-height: 100vh;
		.box-item-pay{
			background: #fff;
			padding: 10px;
			border-radius: 10px;
			margin-bottom: 10px;
			.heading-pay{
				color: $color-sl-b;
				font-family: $font-book;
				margin-bottom: 15px;
				font-size: 14px;
				font-weight: 600;
			}
			.item-prod{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
				position: relative;
				width: 100%;
				.box-img-prod{
					flex:1;
					.resp-img{
						@include img-prod-resp(75%);
					}
				}
				.box-info-prod{
					flex: 2;
					padding-left: 10px;
					.name-sp{
						font-size: 12px;
						text-transform: uppercase;
						font-family: $font-book;
						color: $color-black;
						font-weight: 600;
					}
					.code-prod{
						font-size: 12px;
						font-weight: 600;
					}
					.price-prod{
						.price-sale{
							font-size: 12.75px;
							font-family: $font-bold;
							color: $color-sl-b;
							margin-right: 5px;
						}
						.price-o{
							font-size: 10.75px;
							text-decoration:line-through;
							color: $color-black;
							font-weight: 600;
						}
					}
				}
			}
			p{
				font-size: 13px;
				font-family: $font-book;
				font-weight: 600;
			}

		}
		.address-pay{
			p{
				font-size: 13px;
				display: flex;
				flex-wrap: wrap;
				span{
					width: 70%;
				}
				.label-pay{
					width: 30%;
				}
			}
		}
		.transport-pay{
			p{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.price-vc{
					color: $color-sl-b;

				}
			}
		}
		.payment-methods{
			font-family: $font-book;
			font-weight: 600;
			.check-radio{
				display: flex;
				flex-wrap: nowrap;
				align-items: baseline;
				input{
					margin-right: 5px;
				}
				label{
					font-size: 13px;
					small{
						width: 100%;
						float: left;
						font-weight: 600;
					}
				}
			}
		}
		.total-payment{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			span{
				color: $color-sl-b;
				font-weight: 600;
				font-family: $font-book;
			}
		}
		.box-btn-order-b{
			margin-top: 50px;
			text-align: center;
			button{
				width: 250px;
				height: 35px;
				line-height: 35px;
				border-radius: 10px;
				background: $color-bgr-order;
				border:none;
				color: #fff;
				font-size: 14px;
				font-family: $font-book;
			}
		}

	}

	section.infor-order{
		.item-infor-od{
			margin-bottom: 5px;
			label{
				font-size: 14px;
				font-weight: 600;
				font-family: $font-book;
				margin-bottom: 0px;

			}
			input{
				height: 35px;
			}
			input,textarea{
				width: 100%;
				// color: #b3b3b3;
				background: #f1f1f1;
				border:none;
				border-radius: 10px;
				padding:0 10px;
				font-size: 13px;
				font-weight: 600;
			}
			textarea{
				padding: 10px;
			}
		}
		.box-btn-order-b{
			margin-top: 50px;
			text-align: center;
			button{
				width: 250px;
				height: 35px;
				line-height: 35px;
				border-radius: 10px;
				background: $color-bgr-order;
				border:none;
				color: #fff;
				font-size: 14px;
				font-family: $font-book;
			}
		}
	}	
	section.box-cart{
		.list-item-prod-cart{
			min-height: 70vh;
			border-bottom: 1px solid $color-bgr-border;
			margin-bottom: 15px;
		}
		.box-cart-item{
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $color-bgr-border;
			justify-content: space-between;
			&:last-child{
				border-bottom: none;
			}
			.delete-prod{
				color: $color-sl-b;
				font-size: 15px;
			}
		}
		.item-prod{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
				position: relative;
				width: calc(100% - 30px);
				.box-img-prod{
					flex:1;
					.resp-img{
						@include img-prod-resp(75%);
					}
				}
				.box-info-prod{
					flex: 2;
					padding-left: 10px;
					.name-sp{
						font-size: 12px;
						text-transform: uppercase;
						font-family: $font-book;
						color: $color-black;
						font-weight: 600;
					}
					.code-prod{
						font-size: 12px;
						font-weight: 600;
					}
					.price-prod{
						.price-sale{
							font-size: 12.75px;
							font-family: $font-bold;
							color: $color-sl-b;
							margin-right: 5px;
						}
						.price-o{
							font-size: 10.75px;
							text-decoration:line-through;
							color: $color-black;
							font-family: $font-bold;
						}
					}
				}
			}
		.box-price-all-cart{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
			span{
				font-size: 13px;
				font-family: $font-book;
				font-weight: 600;

			}
			.price-all{
				color: $color-sl-b;
				font-weight: 600;
				font-size: 16px;
			}

		}
		.box-btn-order-b{
				margin-top: 50px;
				text-align: center;
				button{
					width: 250px;
					height: 35px;
					line-height: 35px;
					border-radius: 10px;
					background: $color-bgr-order;
					border:none;
					color: #fff;
					font-size: 14px;
					font-family: $font-book;
				}
			}
	}
	section.contact-introduce{
		padding-top: 20px;
		ul{
			padding: 10px;
			border: 1px solid $color-bgr-border;
			border-radius: 10px;
			font-weight: 600;
			font-family: $font-book;
			font-size: 12px;
		    box-shadow: 1px 2px 5px #00000010;
		    margin-bottom: 15px;
		    li{
		    	border-bottom: 1px solid $color-bgr-border;
				padding-bottom: 10px;
				margin-bottom: 10px;
				&:last-child{
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				a{
					display: block;
				}
		    }
		}
		.box-link-contact-intro{
			li{
				position: relative;
				a{
					position: relative;
					&:after{
						position: absolute;
						right: 10px;
						top: 0px;
						content:"\f054";
						font-family: fontAwesome;
						font-size: 12px;
						cursor: pointer;
						z-index: 0;
					}
				}
				
				
			}
		}
		.box-hotline{
			li{
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
	#footer{
	    background: black;
	    width: 100%;
	    height: 50px;
	    max-width: 768px;
	    position: fixed;
	    z-index:300;
	    bottom: 0;
	    overflow:none;
	    background: #f3f3f3;
	   -moz-transition:all 0.5s ease-in-out;
	   -o-transition:all 0.5s ease-in-out;
	   transition:all 0.5s ease-in-out;
	   -webkit-transition:all 0.5s ease-in-out;
		.link-ft{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-end;
			li{
				position: relative;
				text-align: center;
				margin-top: 10px;
				a{
					display: flex;
					flex-direction:column;
					i{
						color: #5d5d5d;
						font-size: 18px;
					}
					img{
						margin:0 auto;
						width: 25px;
						margin-bottom: 3px;
						filter: grayscale(1);

					}
					span{
						text-align: center;
						font-size: 11px;
						font-weight: 600;
					}
				}
			}
			li.active{
				color: $color-sl-b;
				i{
				color: $color-sl-b;	
				}
				img{
				    filter: grayscale(0);
				}
			}
			.link-cart{
				.sl-prod-cart{					
					position: absolute;
					top: -5px;
					right: 0px;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background: $color-sl-b;
					color: #fff;
					font-size: 10px;
					line-height: 15px;
					text-align: center;
				}
			}
		}
	   
	}
	.page-content{
		padding-top: 0;
		.box-slide-gt-cty{
			margin-bottom: 10px;
		}
		.box-content-all{
			padding: 10px 5px;
			.name-company{
				font-size: 14px;
				text-transform: uppercase;
				font-family: $font-book;
				font-weight: 600;
				margin-bottom: 20px;
			}
			.item-infor-conpany{
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				font-size: 12px;
				font-weight: 600;
				font-family: $font-book;
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $color-bgr-border;
				&:last-child{
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				span{
					width: 80%;
				}
				.title-label{
					width: 20%;
				}

			}
		}
	}
	// #footer.show{
	//     height: 50px;
	//    -moz-transition:all 0.5s ease-in-out;
	//    -o-transition:all 0.5s ease-in-out;
	//    transition:all 0.5s ease-in-out;
	//    -webkit-transition:all 0.5s ease-in-out;
	// }
	.box-btn-order{
		background: none!important;
		display: flex;
		justify-content: space-around;
		li{
			width: 150px;
			a{
				width: 100%;
				height: 30px;
				line-height: 30px;
				border-radius: 10px;
				text-align: center;
				color: #fff;
				font-family: $font-book;
			}
			.btn-add-cart{
				background: $color-add-cart;
			}
			.btn-kaimasu{
				background: $color-bgr-order;
			}
		}

	}
}
	
