
header{
    z-index: 9999;
    background: #fff;
    // width: 100%;
    left: 0;
}
.fix-index{
    .menu{
        height: calc(100vh - 54.4px);
    }
}
.header-tab2 .menu{
    height: calc(100vh - 39px);
}
.ofl{
    overflow: hidden;
}
.menu{
    position: fixed;
    bottom: 0;
    right: -50vw;
    width: 50vw;
    height: calc(100vh - 55px);
    transition: .3s;
    background: #fff;
    z-index: 99999;
    border-top: 5px solid $color-sl-b;
    padding: 15px;
    align-items: unset;
    overflow: auto;
   
    &.active{
        right: 0!important;
    }
    ul{
        padding: 5px; width: 100%;
        transition: .3s;
    }
    .navbar-nav{
        li{
            padding: 0;
            border-bottom: 1px solid $color-bgr-border;
            a{
                display: block;
                font-size: 13px;
                font-family: $font-book;
                font-weight: 600;
            }
        }    
    }
    .dropdown-menu{
        padding: 0;
        margin:0;
        min-width: 100%;
        border: none;
        border-radius: 0;
            box-shadow: 0px 2px 3px #0000000d;
            color: $color-text-all;
        .dropdown-item{
            white-space:unset;
            color: $color-text-all;
            &:active,&:before,&:focus{
                background: none;
                color: unset;
            }
        }
        li{
            a{
                padding: 5px;
            }
        }
    }
    .dropdown-toggle{
        position: relative;
        padding-right: 5px;
        &:after{
            margin-left: 0; 
            right: 5px;
            top: 15px;
            position: absolute;
        }
    }
}

.btn-toggle-menu{
    background: none;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border:none;
    position: relative;
    padding: 0;
    z-index: 9;
    &.hambger{
        span{

            background: transparent;

            &:before{
                top: 0;
                transform: rotate(45deg);
                // background: #fff;
                

            }
            &:after{
                top: 0;
                transform: rotate(-45deg);
                // background: #fff;
            }
        }
    }
    span{
        display: block;
        width: 20px;
        height: 3px;
        background: $color-text-all;
        position: absolute;
        top: 8px;
        transition: .3s;
        &:before{
            content: "";
            position: absolute;
            top: -6px;
            left: 0;
            width: 100%;
            height: 3px;
            background: $color-text-all;
            transition: .3s;
        }
        &:after{
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            width: 100%;
            height: 3px;
            background: $color-text-all;
            transition: .3s;
        }

    }
}
