.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #5454546b;
    z-index: 9;
    opacity: 1;
    // visibility:hidden;
    &:before{
	    font-family: 'slick';
	    font-size: 15px;
	    line-height: 1;
	    opacity: .75;
	    color: #fff;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	   
}
.slick-arrow{
	&:focus{		
		outline: none;

	}
}
.slick-prev{
	left: -7px;
	&:before{
    	content: '←';
    }
}
.slick-next{
	right: -7px;
	&:before{
        content: '→';
    }
}
.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
	    position: relative;
	    display: inline-block;
	    width: 10px;
	    height: 10px;
	    margin: 0 2px;
	    padding: 0;
	    cursor: pointer;
	    button {
		    font-size: 0;
		    line-height: 0;
		    display: block;
		    width: 10px;
		    height: 10px;
		    padding: 5px;
		    cursor: pointer;
		    color: transparent;
		    border:0;
		    border-radius: 50%;
		    outline: none;
		    background: transparent;
		    &:before {
			    font-family: 'slick';
			    font-size: 30px;
			    line-height: 10px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 10px;
			    height: 10px;
			    content: '•';
			    text-align: center;
			    opacity: .5;
			    color: #fff;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
		}
	}
	.slick-active{
		button{
			&:before{
				opacity: 1;
				visibility: visible;
	    		
			}
		}
	}
}