@charset "UTF-8";
@font-face {
  font-family: 'futura-bold';
  src: url("../css/fonts/SVNFuturaDemiBold.woff") format("woff"); }

@font-face {
  font-family: 'futura-book';
  src: url("../css/fonts/SVNFuturaBook.woff") format("woff"); }

@font-face {
  font-family: 'futura-light';
  src: url("../css/fonts/SVNFuturaLight.woff") format("woff"); }

header {
  z-index: 9999;
  background: #fff;
  left: 0; }

.fix-index .menu {
  height: calc(100vh - 54.4px); }

.header-tab2 .menu {
  height: calc(100vh - 39px); }

.ofl {
  overflow: hidden; }

.menu {
  position: fixed;
  bottom: 0;
  right: -50vw;
  width: 50vw;
  height: calc(100vh - 55px);
  transition: .3s;
  background: #fff;
  z-index: 99999;
  border-top: 5px solid #dc3634;
  padding: 15px;
  align-items: unset;
  overflow: auto; }
  .menu.active {
    right: 0 !important; }
  .menu ul {
    padding: 5px;
    width: 100%;
    transition: .3s; }
  .menu .navbar-nav li {
    padding: 0;
    border-bottom: 1px solid #f4f4f4; }
    .menu .navbar-nav li a {
      display: block;
      font-size: 13px;
      font-family: "futura-book", sans-serif;
      font-weight: 600; }
  .menu .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 3px #0000000d;
    color: #7b7b7b; }
    .menu .dropdown-menu .dropdown-item {
      white-space: unset;
      color: #7b7b7b; }
      .menu .dropdown-menu .dropdown-item:active, .menu .dropdown-menu .dropdown-item:before, .menu .dropdown-menu .dropdown-item:focus {
        background: none;
        color: unset; }
    .menu .dropdown-menu li a {
      padding: 5px; }
  .menu .dropdown-toggle {
    position: relative;
    padding-right: 5px; }
    .menu .dropdown-toggle:after {
      margin-left: 0;
      right: 5px;
      top: 15px;
      position: absolute; }

.btn-toggle-menu {
  background: none;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  padding: 0;
  z-index: 9; }
  .btn-toggle-menu.hambger span {
    background: transparent; }
    .btn-toggle-menu.hambger span:before {
      top: 0;
      transform: rotate(45deg); }
    .btn-toggle-menu.hambger span:after {
      top: 0;
      transform: rotate(-45deg); }
  .btn-toggle-menu span {
    display: block;
    width: 20px;
    height: 3px;
    background: #7b7b7b;
    position: absolute;
    top: 8px;
    transition: .3s; }
    .btn-toggle-menu span:before {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      width: 100%;
      height: 3px;
      background: #7b7b7b;
      transition: .3s; }
    .btn-toggle-menu span:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 100%;
      height: 3px;
      background: #7b7b7b;
      transition: .3s; }

body.bgr-op {
  width: 100%;
  float: left;
  position: relative;
  min-height: 100vh; }
  body.bgr-op:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; }

body {
  color: #7b7b7b;
  font-family: "futura-light", sans-serif;
  margin: 0;
  padding: 0; }
  body .Wrapper {
    max-width: 768px;
    margin: 0 auto; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p {
    margin-bottom: 0; }
  body ul, body li {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
  body img {
    max-width: 100%;
    width: 100%; }
  body button:focus, body input:focus, body select:focus, body textarea:focus {
    outline: 0; }
  body a {
    color: unset;
    text-decoration: none; }
    body a:hover, body a:active, body a:focus {
      text-decoration: none;
      color: unset;
      outline: 0; }
  body .fixed {
    position: fixed !important;
    z-index: 9999;
    background: #fff;
    top: 0;
    width: 100%;
    left: 0; }
  body .bgr-f7 {
    background: #f7f7f7; }
  body .content-main {
    padding-bottom: 50px;
    width: 100%;
    float: left; }
  body .headding-h {
    display: none; }
  body .back-to-top {
    position: fixed;
    bottom: -50px;
    right: -50px;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    width: 40px;
    height: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px !important;
    -moz-background-clip: padding;
    background-color: #dc3634;
    line-height: 45px;
    text-align: center;
    color: #fff;
    display: inline;
    z-index: 999999;
    cursor: pointer; }
    body .back-to-top a {
      display: block;
      color: #fff; }
    body .back-to-top:hover {
      background: #dc3634;
      color: #fff; }
    body .back-to-top:hover a, body .back-to-top:focus a {
      color: #fff; }
    body .back-to-top.display {
      bottom: 50px;
      right: 10px; }
    body .back-to-top.fa {
      margin-bottom: 0; }
  body .clickall {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }
  body header > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    body header > .container-fluid .slogan h2 {
      color: #dc3634;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      padding: 8px 0;
      font-family: "futura-bold", sans-serif; }
      body header > .container-fluid .slogan h2 span {
        display: block; }
    body header > .container-fluid .box-search {
      width: 100%;
      position: relative;
      box-shadow: 1px 2px 5px #00000010;
      border-radius: 10px;
      margin-bottom: 10px; }
      body header > .container-fluid .box-search input {
        width: 100%;
        height: 35px;
        padding: 0 50px 0 15px;
        border: none;
        border-radius: 10px;
        color: #5f5f5f;
        font-size: 12px;
        font-family: "futura-book", sans-serif;
        font-weight: 600; }
      body header > .container-fluid .box-search button {
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        border: none;
        border-radius: 10px;
        height: 35px;
        width: 50px;
        text-align: center;
        line-height: 35px;
        color: #545454; }
  body header .pd-r {
    flex-direction: row-reverse; }
    body header .pd-r .box-search {
      width: calc(100% - 30px) !important;
      margin-top: 10px; }
    body header .pd-r .btn-toggle-menu {
      margin-top: 5px; }
  body .header-tab2 {
    border-bottom: 1px solid #dedede; }
    body .header-tab2 > .container-fluid {
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px; }
      body .header-tab2 > .container-fluid .heading-header {
        font-size: 14px;
        text-transform: uppercase;
        color: #dc3634;
        font-family: "futura-book", sans-serif;
        font-weight: 600; }
  body section {
    padding: 20px 0;
    width: 100%;
    float: left;
    clear: both; }
  body section.box-slide-img .slide-img-top .item-img-sl {
    position: relative; }
  body section.box-slide-img .slide-img-top .slick-slide {
    margin: 5px; }
    body section.box-slide-img .slide-img-top .slick-slide img {
      border-radius: 10px; }
  body section.box-slide-img .slide-img-top .box-img-sl {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 65%;
    overflow: hidden; }
    body section.box-slide-img .slide-img-top .box-img-sl img {
      object-fit: contain;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  body section.box-list-prod .tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 13px;
    font-family: "futura-book", sans-serif;
    margin-bottom: 15px; }
    body section.box-list-prod .tab button {
      flex: 1;
      padding: 5px;
      border: none;
      color: #5f5f5f;
      background: none;
      border-bottom: 2px solid #d9d9d9;
      font-weight: 600; }
    body section.box-list-prod .tab .spbc {
      flex: 1.1; }
    body section.box-list-prod .tab .active {
      border-bottom: 2px solid #dc3634;
      color: #dc3634; }
  body section.box-list-prod .tabcontent {
    display: none; }
  body .list-prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f4f4f4; }
    body .list-prod .item-prod {
      width: calc(50% - 1px);
      background: #fff;
      margin-bottom: 2px;
      position: relative; }
      body .list-prod .item-prod .box-img-prod {
        margin-bottom: 5px;
        position: relative;
        height: auto !important;
        width: 100%;
        padding-top: 75%;
        overflow: hidden; }
        body .list-prod .item-prod .box-img-prod img {
          object-fit: contain;
          margin: auto;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
        body .list-prod .item-prod .box-img-prod img {
          width: 100%; }
      body .list-prod .item-prod .box-info-prod {
        padding: 10px; }
        body .list-prod .item-prod .box-info-prod .name-sp {
          font-size: 9pt;
          text-transform: uppercase;
          font-weight: 600;
          color: #000;
          min-height: 29px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-family: "futura-bold", sans-serif; }
        body .list-prod .item-prod .box-info-prod .code-prod {
          font-size: 12px;
          font-weight: 600; }
        body .list-prod .item-prod .box-info-prod .price-prod {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline; }
          body .list-prod .item-prod .box-info-prod .price-prod .price-sale {
            color: #dc3634;
            font-size: 10pt;
            margin-right: 10px;
            font-family: "futura-bold", sans-serif; }
          body .list-prod .item-prod .box-info-prod .price-prod .price-o {
            font-family: "futura-bold", sans-serif;
            font-size: 8pt;
            color: #000;
            text-decoration: line-through; }
  body section.detail-prod {
    position: relative;
    padding-top: 0; }
    body section.detail-prod .btn-back- {
      position: absolute;
      left: 10px;
      top: 10px;
      height: 25px;
      line-height: 25px;
      width: 25px;
      text-align: center;
      background: #545454;
      z-index: 999;
      color: #fff;
      border-radius: 50%;
      opacity: 0.8;
      font-size: 10px; }
    body section.detail-prod .box-slide-img-prod {
      position: relative;
      margin-bottom: 15px; }
      body section.detail-prod .box-slide-img-prod .box-img-sl {
        position: relative;
        height: auto !important;
        width: 100%;
        padding-top: 75%;
        overflow: hidden; }
        body section.detail-prod .box-slide-img-prod .box-img-sl img {
          object-fit: contain;
          margin: auto;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
    body section.detail-prod .box-detail-main-prod {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body section.detail-prod .box-detail-main-prod .name-prod {
        font-size: 16px;
        font-family: "futura-book", sans-serif;
        margin-bottom: 15px;
        color: #545454;
        width: 100%;
        font-weight: 600; }
      body section.detail-prod .box-detail-main-prod .box-detail-c {
        font-family: "futura-book", sans-serif; }
        body section.detail-prod .box-detail-main-prod .box-detail-c p {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 5px;
          font-family: "futura-book", sans-serif; }
        body section.detail-prod .box-detail-main-prod .box-detail-c .sl-prod {
          font-weight: 600;
          display: flex;
          align-items: center; }
          body section.detail-prod .box-detail-main-prod .box-detail-c .sl-prod button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            line-height: 0px;
            text-align: center;
            margin: 0 10px;
            font-weight: 600; }
          body section.detail-prod .box-detail-main-prod .box-detail-c .sl-prod #numb-prod {
            font-family: "futura-bold", sans-serif;
            font-size: 15px; }
      body section.detail-prod .box-detail-main-prod .box-price .price-sale {
        font-size: 18px;
        color: #dc3634;
        font-family: "futura-bold", sans-serif; }
      body section.detail-prod .box-detail-main-prod .box-price .price-o {
        font-size: 14px;
        text-decoration: line-through;
        color: #000;
        font-weight: 600; }
      body section.detail-prod .box-detail-main-prod .box-information-prod {
        width: 100%;
        border-top: 1px solid #f4f4f4;
        padding-top: 10px;
        margin-top: 15px;
        margin-bottom: 50px; }
        body section.detail-prod .box-detail-main-prod .box-information-prod h3 {
          font-size: 14px;
          font-family: "futura-book", sans-serif;
          color: #545454;
          margin-bottom: 10px;
          font-weight: 600; }
        body section.detail-prod .box-detail-main-prod .box-information-prod .content-infor-prod {
          font-size: 13px;
          font-weight: 600; }
  body section.list-prod-other h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #545454;
    font-family: "futura-book", sans-serif;
    font-weight: 600; }
  body section.list-prod-other .list-other-prod .item-prod {
    margin: 1px; }
  body section.all-pay {
    min-height: 100vh; }
    body section.all-pay .box-item-pay {
      background: #fff;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px; }
      body section.all-pay .box-item-pay .heading-pay {
        color: #dc3634;
        font-family: "futura-book", sans-serif;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600; }
      body section.all-pay .box-item-pay .item-prod {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 100%; }
        body section.all-pay .box-item-pay .item-prod .box-img-prod {
          flex: 1; }
          body section.all-pay .box-item-pay .item-prod .box-img-prod .resp-img {
            position: relative;
            height: auto !important;
            width: 100%;
            padding-top: 75%;
            overflow: hidden; }
            body section.all-pay .box-item-pay .item-prod .box-img-prod .resp-img img {
              object-fit: contain;
              margin: auto;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0; }
        body section.all-pay .box-item-pay .item-prod .box-info-prod {
          flex: 2;
          padding-left: 10px; }
          body section.all-pay .box-item-pay .item-prod .box-info-prod .name-sp {
            font-size: 12px;
            text-transform: uppercase;
            font-family: "futura-book", sans-serif;
            color: #000;
            font-weight: 600; }
          body section.all-pay .box-item-pay .item-prod .box-info-prod .code-prod {
            font-size: 12px;
            font-weight: 600; }
          body section.all-pay .box-item-pay .item-prod .box-info-prod .price-prod .price-sale {
            font-size: 12.75px;
            font-family: "futura-bold", sans-serif;
            color: #dc3634;
            margin-right: 5px; }
          body section.all-pay .box-item-pay .item-prod .box-info-prod .price-prod .price-o {
            font-size: 10.75px;
            text-decoration: line-through;
            color: #000;
            font-weight: 600; }
      body section.all-pay .box-item-pay p {
        font-size: 13px;
        font-family: "futura-book", sans-serif;
        font-weight: 600; }
    body section.all-pay .address-pay p {
      font-size: 13px;
      display: flex;
      flex-wrap: wrap; }
      body section.all-pay .address-pay p span {
        width: 70%; }
      body section.all-pay .address-pay p .label-pay {
        width: 30%; }
    body section.all-pay .transport-pay p {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body section.all-pay .transport-pay p .price-vc {
        color: #dc3634; }
    body section.all-pay .payment-methods {
      font-family: "futura-book", sans-serif;
      font-weight: 600; }
      body section.all-pay .payment-methods .check-radio {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline; }
        body section.all-pay .payment-methods .check-radio input {
          margin-right: 5px; }
        body section.all-pay .payment-methods .check-radio label {
          font-size: 13px; }
          body section.all-pay .payment-methods .check-radio label small {
            width: 100%;
            float: left;
            font-weight: 600; }
    body section.all-pay .total-payment {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body section.all-pay .total-payment span {
        color: #dc3634;
        font-weight: 600;
        font-family: "futura-book", sans-serif; }
    body section.all-pay .box-btn-order-b {
      margin-top: 50px;
      text-align: center; }
      body section.all-pay .box-btn-order-b button {
        width: 250px;
        height: 35px;
        line-height: 35px;
        border-radius: 10px;
        background: #ea3f34;
        border: none;
        color: #fff;
        font-size: 14px;
        font-family: "futura-book", sans-serif; }
  body section.infor-order .item-infor-od {
    margin-bottom: 5px; }
    body section.infor-order .item-infor-od label {
      font-size: 14px;
      font-weight: 600;
      font-family: "futura-book", sans-serif;
      margin-bottom: 0px; }
    body section.infor-order .item-infor-od input {
      height: 35px; }
    body section.infor-order .item-infor-od input, body section.infor-order .item-infor-od textarea {
      width: 100%;
      background: #f1f1f1;
      border: none;
      border-radius: 10px;
      padding: 0 10px;
      font-size: 13px;
      font-weight: 600; }
    body section.infor-order .item-infor-od textarea {
      padding: 10px; }
  body section.infor-order .box-btn-order-b {
    margin-top: 50px;
    text-align: center; }
    body section.infor-order .box-btn-order-b button {
      width: 250px;
      height: 35px;
      line-height: 35px;
      border-radius: 10px;
      background: #ea3f34;
      border: none;
      color: #fff;
      font-size: 14px;
      font-family: "futura-book", sans-serif; }
  body section.box-cart .list-item-prod-cart {
    min-height: 70vh;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 15px; }
  body section.box-cart .box-cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
    justify-content: space-between; }
    body section.box-cart .box-cart-item:last-child {
      border-bottom: none; }
    body section.box-cart .box-cart-item .delete-prod {
      color: #dc3634;
      font-size: 15px; }
  body section.box-cart .item-prod {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: calc(100% - 30px); }
    body section.box-cart .item-prod .box-img-prod {
      flex: 1; }
      body section.box-cart .item-prod .box-img-prod .resp-img {
        position: relative;
        height: auto !important;
        width: 100%;
        padding-top: 75%;
        overflow: hidden; }
        body section.box-cart .item-prod .box-img-prod .resp-img img {
          object-fit: contain;
          margin: auto;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
    body section.box-cart .item-prod .box-info-prod {
      flex: 2;
      padding-left: 10px; }
      body section.box-cart .item-prod .box-info-prod .name-sp {
        font-size: 12px;
        text-transform: uppercase;
        font-family: "futura-book", sans-serif;
        color: #000;
        font-weight: 600; }
      body section.box-cart .item-prod .box-info-prod .code-prod {
        font-size: 12px;
        font-weight: 600; }
      body section.box-cart .item-prod .box-info-prod .price-prod .price-sale {
        font-size: 12.75px;
        font-family: "futura-bold", sans-serif;
        color: #dc3634;
        margin-right: 5px; }
      body section.box-cart .item-prod .box-info-prod .price-prod .price-o {
        font-size: 10.75px;
        text-decoration: line-through;
        color: #000;
        font-family: "futura-bold", sans-serif; }
  body section.box-cart .box-price-all-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; }
    body section.box-cart .box-price-all-cart span {
      font-size: 13px;
      font-family: "futura-book", sans-serif;
      font-weight: 600; }
    body section.box-cart .box-price-all-cart .price-all {
      color: #dc3634;
      font-weight: 600;
      font-size: 16px; }
  body section.box-cart .box-btn-order-b {
    margin-top: 50px;
    text-align: center; }
    body section.box-cart .box-btn-order-b button {
      width: 250px;
      height: 35px;
      line-height: 35px;
      border-radius: 10px;
      background: #ea3f34;
      border: none;
      color: #fff;
      font-size: 14px;
      font-family: "futura-book", sans-serif; }
  body section.contact-introduce {
    padding-top: 20px; }
    body section.contact-introduce ul {
      padding: 10px;
      border: 1px solid #f4f4f4;
      border-radius: 10px;
      font-weight: 600;
      font-family: "futura-book", sans-serif;
      font-size: 12px;
      box-shadow: 1px 2px 5px #00000010;
      margin-bottom: 15px; }
      body section.contact-introduce ul li {
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 10px;
        margin-bottom: 10px; }
        body section.contact-introduce ul li:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0; }
        body section.contact-introduce ul li a {
          display: block; }
    body section.contact-introduce .box-link-contact-intro li {
      position: relative; }
      body section.contact-introduce .box-link-contact-intro li a {
        position: relative; }
        body section.contact-introduce .box-link-contact-intro li a:after {
          position: absolute;
          right: 10px;
          top: 0px;
          content: "\f054";
          font-family: fontAwesome;
          font-size: 12px;
          cursor: pointer;
          z-index: 0; }
    body section.contact-introduce .box-hotline li {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
  body #footer {
    background: black;
    width: 100%;
    height: 50px;
    max-width: 768px;
    position: fixed;
    z-index: 300;
    bottom: 0;
    overflow: none;
    background: #f3f3f3;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; }
    body #footer .link-ft {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end; }
      body #footer .link-ft li {
        position: relative;
        text-align: center;
        margin-top: 10px; }
        body #footer .link-ft li a {
          display: flex;
          flex-direction: column; }
          body #footer .link-ft li a i {
            color: #5d5d5d;
            font-size: 18px; }
          body #footer .link-ft li a img {
            margin: 0 auto;
            width: 25px;
            margin-bottom: 3px;
            filter: grayscale(1); }
          body #footer .link-ft li a span {
            text-align: center;
            font-size: 11px;
            font-weight: 600; }
      body #footer .link-ft li.active {
        color: #dc3634; }
        body #footer .link-ft li.active i {
          color: #dc3634; }
        body #footer .link-ft li.active img {
          filter: grayscale(0); }
      body #footer .link-ft .link-cart .sl-prod-cart {
        position: absolute;
        top: -5px;
        right: 0px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #dc3634;
        color: #fff;
        font-size: 10px;
        line-height: 15px;
        text-align: center; }
  body .page-content {
    padding-top: 0; }
    body .page-content .box-slide-gt-cty {
      margin-bottom: 10px; }
    body .page-content .box-content-all {
      padding: 10px 5px; }
      body .page-content .box-content-all .name-company {
        font-size: 14px;
        text-transform: uppercase;
        font-family: "futura-book", sans-serif;
        font-weight: 600;
        margin-bottom: 20px; }
      body .page-content .box-content-all .item-infor-conpany {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 600;
        font-family: "futura-book", sans-serif;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #f4f4f4; }
        body .page-content .box-content-all .item-infor-conpany:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0; }
        body .page-content .box-content-all .item-infor-conpany span {
          width: 80%; }
        body .page-content .box-content-all .item-infor-conpany .title-label {
          width: 20%; }
  body .box-btn-order {
    background: none !important;
    display: flex;
    justify-content: space-around; }
    body .box-btn-order li {
      width: 150px; }
      body .box-btn-order li a {
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-family: "futura-book", sans-serif; }
      body .box-btn-order li .btn-add-cart {
        background: #ebb613; }
      body .box-btn-order li .btn-kaimasu {
        background: #ea3f34; }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #5454546b;
  z-index: 9;
  opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-arrow:focus {
  outline: none; }

.slick-prev {
  left: -7px; }
  .slick-prev:before {
    content: '←'; }

.slick-next {
  right: -7px; }
  .slick-next:before {
    content: '→'; }

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      border-radius: 50%;
      outline: none;
      background: transparent; }
      .slick-dots li button:before {
        font-family: 'slick';
        font-size: 30px;
        line-height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: '•';
        text-align: center;
        opacity: .5;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .slick-dots .slick-active button:before {
    opacity: 1;
    visibility: visible; }
